body {
    margin: 0;
    font-family: "Segoe UI"; 
}

header {
    border-bottom: 1px solid #000;
}

header nav ul {
    list-style: none; 
    padding: 0;
}

header nav ul li {
    display: inline;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

section  {
    padding: 20px;
    border-bottom: 1px solid #000;
}

section h2 {
    font-size: 25px;
}

section a {
    color: purple;
}

